<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <ul>
            <li>I, Om Thakkar, am a student at L. D. College of Engineering - passing year 2024.</li>
            <li>During the development of this website, I learnt setting the routes in Node.js using Express and also to use middlewares such as morgan, loadash, etc. and also creating custom middleware.</li>
            <li>I also learnt to use MongoDB Atlas and mongoose to connect the application to database.</li>
            <li>Also I have developed the application based on MVC architecture, seperating the model(to connect the application to the database ane also specify its schema), controller(to interact with the database from the application) and view(ejs view engine) of the  application for enhanced code readability and modularity.</li>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>